


.nav{
  color: rgb(0, 14, 94);
  font-family: Franklin Gothic Heavy;
  font-size: 18;
  cursor: pointer;
  font-weight: bold;
}
.bugema{
  font-size: 20px;
  font-family: 'Franklin Gothic';
  font-weight: bold;
  margin-top: 100px;
}
